/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.dot {
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: yellow;
}

.cascading-grandcircle {
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 100px;
    top: 80px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.cascading-parentcircle{
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 85px;
    top: 150px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.cascading-childcircle {
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 60px;
    top: 220px;
    width: 150px;
    height: 150px;
    text-align: center;
}

h2 {font-size: 22px;
    color: blue;
    text-decoration:underline;
}
a {
    font-size: 22px;
    color: #F0F;
}

.cascading-parent h2 {
    color:#FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC
}

a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: blue;
  }