/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

/*exercise #2 */

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

/*exercise #3 */

.dot {
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: yellow;
}

/*exercise #4 */

.cascading-grandcircle {
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 100px;
    top: 80px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.cascading-parentcircle{
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 85px;
    top: 150px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.cascading-childcircle {
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 60px;
    top: 220px;
    width: 150px;
    height: 150px;
    text-align: center;
}

/*exercise #5 */



a {
    font-size: 22px;
    color: #F0F;
}

.cascading-parent h2 {
    color:#FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC
}

h2 {font-size: 22px;
    color: blue;
    text-decoration:underline;
}

/*exercise #6 */

a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: blue;
  }

  /*exercise #7*/

  .site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .site-color {
    background-color: indigo;
    color: #FFF;
  }

  .site-square {
    width: 200px;
    height: 200px;
  }

  /*exercise #8*/

  .p-first  {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: pink;
  }

  .p-second {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: pink;
  }

  .p-third {
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: pink;
  }
  

  div {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 10s;
  }
  
  @keyframes example {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(255, 0, 0);}
  }